.services {
    padding: 100px 0;
    &__title {
        margin-bottom: 70px;
    }
    &__inner {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        margin-bottom: 70px;
    }
    &__item {
        max-width: 270px;
        display: flex;
        flex-direction: column;
        gap: 15px;
        padding: 10px;
        border-radius: 10px;
        transition: all 0.3s;
        &-title {
            font-weight: 700;
            font-size: 16px;
            line-height: 20px;
            text-transform: uppercase;
            padding-bottom: 5px;
            border-bottom: 1px solid #bebebe;
        }
        &-text {
            font-size: 12px;
            color: #656363;
        }
        &.wider {
            max-width: 580px;
            display: flex;
            flex-direction: column;
            gap: 15px;
        }
        &-image img {
            height: 270px;
        }
    }
    &__buttons {
        display: flex;
        justify-content: center;
        gap: 40px;
    }
    .button__red {
        padding: 17px 37px;
    }
    .button__white {
        padding: 17px 107px;
        color: black;
        border: 1px solid black;
    }
}

@media (max-width: 1204px) {
    .services__title {
        text-align: center;
    }
    .services__inner {
        max-width: 570px;
        margin: 0 auto 35px;
    }
}

@media (min-width: 1000px) {
    .services .button__white:hover {
        color: white;
        border: 1px solid #d0202a;
    }
}

@media (min-width: 801px) {
    .services__item:hover {
        transform: translateY(-15px);
        box-shadow: 3px 5px 15px gray;
    }
}

@media (max-width: 800px) {
    .services {
        padding: 50px 0;
    }
    .services__buttons {
        flex-direction: column;
        max-width: 500px;
        margin: 0 auto;
        gap: 15px;
    }
}

@media (max-width: 600px) {
    .services__title {
        font-size: 44px;
        line-height: 56px;
        margin-bottom: 30px;
    }
    .services__item.wider {
        max-width: 270px;
    }
    .services__item-image img {
        width: 270px;
        object-fit: cover;
    }
    .services__inner {
        justify-content: center;
    }
}
