.stocksBanner {
    padding: 100px 0;
    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__title {
        margin-bottom: 30px;
    }
    &__text {
        max-width: 340px;
        margin-bottom: 100px;
    }
    & .button__red {
        margin-bottom: 15px;
        padding: 16px 37px;
    }
    & .button__white {
        border: 1px solid black;
        color: black;
    }
}

@media (min-width: 1080px) {
    .stocksBanner .button__white:hover {
        border: 1px solid transparent;
        color: white;
    }
}

@media (max-width: 640px) {
    .stocksBanner {
        padding: 40px 0;
        &__inner {
            flex-direction: column;
            gap: 20px;
        }
        &__text {
            margin-bottom: 30px;
        }
        &__title {
            font-size: 44px;
            line-height: 56px;
        }
    }
}

@media (max-width: 400px) {
    .stocksBanner__title {
        font-size: 29px;
        line-height: 33px;
    }
}
