.header {
    padding: 20px 0;
    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        z-index: 2;
    }
    &__info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 40px;
    }
    &__navigation-item a {
        z-index: 10;
    }
    &__navigation ul {
        display: flex;
        flex-flow: row;
        gap: 30px;
        font-size: 12px;
        font-weight: 500;
        text-transform: uppercase;
        z-index: 10;
    }
    &__schedule {
        display: flex;
        gap: 40px;
        align-items: center;
        z-index: 10;
    }
    .services__popup,
    .cosmetology__popup {
        padding-right: 12px;
        position: relative;
        cursor: pointer;
    }
    .cosmetology__popup-list {
        position: absolute;
        left: 0;
        width: 175px;
        display: flex;
        flex-direction: column;
        gap: 10;
        text-align: center;
        background-color: #fffae6;
        padding: 17px;
        top: 27px;
        left: 0;
        display: none;
        opacity: 0;
        transition: all 0.2s;
        &-enter {
            opacity: 0.01;
            display: flex;
            &-done {
                display: flex;
                opacity: 1;
            }
        }
        &-exit {
            opacity: 0.01;
            display: flex;
            &-done {
                opacity: 0;
            }
        }
    }
    .services__popup-list {
        position: absolute;
        width: 175px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        text-align: center;
        background-color: #fffae6;
        padding: 17px;
        z-index: 3;
        top: 27px;
        left: 0;
        display: none;
        opacity: 0;
        transition: all 0.2s;
        &-enter {
            opacity: 0.01;
            display: flex;
            &-done {
                display: flex;
                opacity: 1;
            }
        }
        &-exit {
            opacity: 0.01;
            display: flex;
            &-done {
                opacity: 0;
            }
        }
    }
    .header__navigation-arrow {
        background: url(../../shared/images/header/header-arrow.svg);
        position: absolute;
        width: 10px;
        height: 5px;
        margin: 5px 2px 0 0;
        transition: all 0.3s;
        &.active {
            transform: rotate(-90deg);
        }
    }
    &__burger {
        width: 30px;
        position: relative;
        display: none;
    }
    &__burger span,
    &__burger::before,
    &__burger::after {
        transform: translate(-50%, -50%);
        width: 100%;
        background-color: black;
        height: 2px;
        position: absolute;
        transition: all 0.3s;
    }
    &__burger::before {
        content: "";
        top: -12px;
    }
    &__burger::after {
        content: "";
        top: 12px;
    }
    &__burger.active span {
        display: none;
    }
    &__burger.active::before {
        top: 50%;
        transform: translate(-50%, 0) rotate(45deg);
    }
    &__burger.active::after {
        top: 50%;
        transform: translate(-50%, 0) rotate(-45deg);
    }
    &__overlay {
        position: absolute;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100vw;
        background-color: rgba(0, 0, 0, 0.301);
        z-index: 1;
    }
}

@media (max-width: 1118px) {
    .header__schedule {
        gap: 10px;
    }
    .header__info {
        gap: 20px;
    }
}

@media (max-width: 1080px) {
    .header__burger {
        display: block;
    }
    .header__info {
        position: fixed;
        flex-direction: column;
        padding: 60px 0;
        justify-content: inherit;
        gap: 60px;
        max-width: 425px;
        width: 100%;
        height: 100vh;
        background-color: #fffae6;
        top: 0;
        right: -425px;
        overflow-y: scroll;
        transition: all 0.3s;
        &.active {
            right: 0;
        }
    }
    .header__navigation ul {
        flex-direction: column;
        gap: 60px;
        font-size: 18px;
        text-align: center;
    }
    .header__schedule {
        flex-direction: column;
        gap: 60px;
        font-size: 18px;
    }
    .header .cosmetology__popup-list,
    .header .services__popup-list {
        position: static;
        width: 100%;
        max-width: 425px;
        padding: 10px;
        gap: 60px;
        padding-top: 60px;
    }
}
