.header {
    padding: 20px 0;
    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__navigation ul {
        display: flex;
        flex-flow: row;
        gap: 30px;
        font-size: 12px;
        text-transform: uppercase;
    }
    &__schedule {
        display: flex;
        gap: 40px;
        align-items: center;
    }
}
