.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__map,
    &__info {
        width: 50%;
    }
    &__map {
        background: url(../../shared/images/map.jpg) no-repeat;
        height: 600px;
    }
    &__info {
        padding: 100px 45px;
        display: flex;
        flex-direction: column;
        gap: 40px;
        &-place {
            max-width: 270px;
            padding-left: 60px;
            position: relative;
            text-transform: uppercase;
            & p {
                margin-bottom: 10px;
            }
            & a {
                font-weight: 700;
            }
            &::before {
                content: url(../../shared/images/watsapp.svg);
                position: absolute;
                top: 3px;
                left: 0;
            }
        }
    }
}

@media (max-width: 970px) {
    .footer {
        flex-direction: column-reverse;
        &__map,
        &__info {
            width: 100%;
        }
        &__info {
            padding: 50px 35px;
        }
    }
}

@media (max-width: 660px) {
    .footer__info-title {
        font-size: 44px;
        line-height: 56px;
    }
    .footer__map {
        height: 430px;
    }
}

@media (max-width: 560px) {
    .footer__info-title {
        font-size: 29px;
        line-height: 33px;
    }
}
