.benefits {
    padding: 100px 0;
    &__inner {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 65px 178px;
    }
    &__title {
        margin-bottom: 70px;
    }
    &__item {
        &-title {
            font-weight: 600;
            color: #d0202a;
            border-bottom: 1px solid #bebebe;
            margin-bottom: 10px;
        }
        &-text {
            font-size: 16px;
            line-height: 20px;
            text-transform: uppercase;
        }
    }
}
