.banner {
    background: url(../../shared/images/banner.jpg) no-repeat bottom;
    background-size: cover;
    height: 636px;
    color: white;
    .button__red {
        padding: 16px 37px;
    }
}
